.audience-stats {
    background-color: #394166;
    height: 40%;
    width: 100%;

    font-size: 110%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.audience-stats .circulo {
    border: 10%;
    box-sizing: border-box;
    height: 80%;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 50%;
    border: 4.5vmin solid aqua;

    font-size: 150%;
}